# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# OS junk
.DS_Store
Thumbs.db

# pandas case study 2 dataset
04_pandas/34. Pandas Case Study 2- Working with Textual Data/datasets/IMDB Dataset.csv

# matplotlib exported img
06_data_visualization/35. Plotting using Matplotlib/sample.png

# matplotlib dataset & plots
06_data_visualization/36. Advanced Matplotlib/IPL_Ball_by_Ball_2008_2022.csv
06_data_visualization/36. Advanced Matplotlib/Task 24/datasets
06_data_visualization/38. Plotly Graph Objects (GO)/datasets
06_data_visualization/38. Plotly Graph Objects (GO)/plots